/* Body Styling */
body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/* h1 styling */
h1 {
    font-size: 48px;
    font-weight: 500;
}

/* h2 styling */
h2 {
    font-size: 24px;
}

/* h3 styling */
h3 {
    font-size: 21px;
}

/* Header Styling */
header {
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(rgb(78, 242, 28), rgb(2, 172, 16));
    color: #ffffff;
}

/* Icon font-sizes */
.icon-med-size {
    font-size: 32px;
    transition: 0.25s;

}
/* Icon hover color */
.icon-med-size:hover {
    font-size: 34px;
}


/* Gradient Background */
.my-gradient {
    background: linear-gradient(rgb(78, 242, 28), rgb(2, 172, 16));
    border-color: linear-gradient(rgb(78, 242, 28), rgb(2, 172, 16));
}


/* Status label on its own line */
#status-label {
    display: block;
}


/* Mobile Styling */
@media only screen and (max-width: 768px) {
    /* adjust h1 font size */
    h1 {
        font-size: 32px;
    }

    /* Center task content */
    .task-content i {
        text-align: center;
    }
}